/*Стили для табов*/
.tab-section {
	margin: 0 0 30px;
}
ul.tabs {
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabs li,
.tabs li.disabled:hover {
	float: left;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 0 10px;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #ecf0f1;
	background: #c0392b;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.tabs li.current {
	color: #ecf0f1;
	background: #16a085;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.tabs li.disabled,
.tabs li.disabled:hover {
	cursor: default;
	color: #95a5a6;
	background: none;
	text-shadow: 0 1px 1px rgba(255,255,255,.8);
}
.box {
	display: none;
	background: #ecf0f1;
  	border-width: 0 1px 1px;
	padding: 20px;
}
.box.visible {
	display: block;
}